.mt-6 {
  margin-top: 6rem;
}
.mt-7 {
  margin-top: 7rem;
}

.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
}

.container.no-padding-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}