a {
  color: $tfs__red;
  text-decoration: none;
  &:hover {
    color: $tfs__red;
  }
}
.mt-6 {
  margin-top: 6rem;
}
.mt-7 {
  margin-top: 7rem;
}
.mb-6 {
  margin-bottom: 6rem;
}
.mb-7 {
  margin-bottom: 7rem;
}

.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
}

.container.no-padding-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}