.hero-overlay {
  transition: top 0.3s ease-in-out !important;
}

.hero-image {
  .ratio>* {
    width: 100%;
    height: 100vh !important;
  }
}

.hero-overlay:not([style*="top"]) {
  top: 60% !important;
}

@media (max-width: 768px) {
  .hero-overlay:not([style*="top"]) {
    top: 55% !important;
  }
}

@media (max-width: 576px) {
  .hero-overlay:not([style*="top"]) {
    top: 50% !important;
  }
}

