.admin-bar {
  nav {
    margin-top: 32px;
  }
}

/* Make the navbar background transparent by default */
.navbar {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  transition: background 0.5s ease, background-color 0.5s ease, height 0.3s ease;
  height: 100px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &.scrolled {
    background: none;
    background-color: black;
    height: 60px;
  }
  .nav-link {
    color: rgba(255, 255, 255, 0.9); /* Slightly less transparent white */
    transition: color 0.3s ease;
    font-family: "Arimo", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    &:hover {
      color: #ffffff; /* Bright white on hover */
    }
  }
}

.navbar-brand {
  font-family: "Arimo", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: #ffffff;
  .navbar.scrolled & {
    font-size: 0.9em; /* Adjust size during scroll, optional */
  }
}


