body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

p,
ul,
ol,
dl,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
{
	font-size: 1.3rem;
}

@import "headings";
@import "copy";
